<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kanban!</title>
<!--
    <link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" 
        rel="stylesheet"
        type="text/css">
-->
    <link rel="stylesheet" href="./public/stylesheets/dnd.css">
    <link rel="stylesheet" href="./public/stylesheets/sticky.css">
    <script src="./public/scripts/test.js"></script>
    <script src="./public/scripts/util.js"></script>
    <script src="./public/scripts/WorkItemProxy.js"></script>
</head>
<body >

    <div class="main_header">
        <header><h2>The Kanban Board!<h2></header>
        <table style="color:#000;">
            <tr><td><strong>User:</strong>&nbsp;</td><td>All</td></tr>
            <tr><td><strong>Group:</strong>&nbsp;</td><td>Default</td></tr>
        </table>
    </div>
    <div id="columns">
    </div>
    <script type="text/javascript">
    //<![CDATA[
        var stateMapping = [];
        <%         
        var states = [  [0, "error", "Error", false], 
                        [1, "not-started", "Not started", true],
                        [2, "active", "Active", true],
                        [3, "complete", "Complete", true],
                        [4, "deleted", "Deleted", false],
                     ];
        for(var i=0; i<states.length; i++) {
            %>stateMapping.push('<%= states[i][1]%>');
        CreateColumn('columns', <%= states[i][0] %>, '<%= states[i][1] %>', '<%= states[i][2] %>', <%= states[i][3]%>);
        <%  } %>

        //<div id="column-not-started" class="column" ><header>Not Started</header></div>
        function CreateColumn(parentId, state_id, state_name, description, include) {
            if (include) {
                var parent = document.getElementById(parentId);
                var div = parent.appendChild(document.createElement("div"));
                div.setAttribute("id", "column-" + state_name);
                div.setAttribute("class", "column");
                div.setAttribute("draggable", "true");
                div.state_id = state_id;
                div.state_name = state_name;
                var header = div.appendChild(document.createElement("header"));
                var p = header.appendChild(document.createElement("p"));
                p.appendChild(document.createTextNode(description));
                var ul = div.appendChild(document.createElement("ul"));

            }
        }
        
        FindWorkItemsByGroup(1);

        function columnDragOver(e) { 
            if (e.preventDefault) {
                e.preventDefault(); // Necessary. Allows us to drop.
            }
        }
        function columnDrop(e) { 
            var task = JSON.parse(e.dataTransfer.getData("json"));
            var columnId = e.id;
            console.log("Dropping: " + task.description);
            UpdateState(task, e.target.state_id, e.target.state_name);
        }


        var columns = document.querySelectorAll(".column");
        [].forEach.call(columns, function(column) {
            column.addEventListener('dragover', columnDragOver, false);
            column.addEventListener('drop', columnDrop, false);
        });

        function taskDragStart(e) { 
            // Target (this) element is the source node.
            this.style.opacity = '0.4';
            e.dataTransfer.effectAllowed = 'move';
            e.dataTransfer.setData('json', JSON.stringify(e.srcElement.task));
        }
        function taskDrag(e) { 
            // Target (this) element is the source node.
            this.style.opacity = '1.0';
        }

/***************************************************************/
/***************************************************************/
/** General UI **/
/***************************************************************/
/***************************************************************/
//    <li>
//      <a href="#">
//        <h2>Title #1</h2>
//        <p>Text Content #1</p>
//      </a>
//    </li>
function AppendTask(columnId, task) {
    var div = document.getElementById(columnId);

    var ul = div.childNodes[1];

    var li = ul.appendChild(document.createElement("li"));
    li.setAttribute("id","task-" + task.id);
    li.setAttribute("draggable", "true");

    var a = li.appendChild(document.createElement("a"));
    a.setAttribute("href", "#");
    a.task = task;
    var h2 = a.appendChild(document.createElement("h2"));
    h2.appendChild(document.createTextNode("Id: " + task.id));
    var p = a.appendChild(document.createElement("p"));

    var fields = [ ['Owner', task.person_name, 50]
        , ['Description', task.description, 140]
        , ['Created', FormatDate(task.created_date), 50] ];

    fields.forEach( function(field) {
        var name = p.appendChild(document.createElement("h3"));
        var value = field[0] + ": " + field[1].substring(0,field[2]);
        name.appendChild(document.createTextNode(value));
    });



    li.addEventListener('dragstart', taskDragStart, false);
    li.addEventListener('drag', taskDrag, false);

    return div;
}


/***************************************************************/
/***************************************************************/
/** Tasks **/
/***************************************************************/
/***************************************************************/
    function ClearTasks()
    {
        var tasks = document.querySelectorAll(".task");
        [].forEach.call(tasks, function(task) {ClearTask(task)});
    }

    function ClearTask(task) {
        var parent = task.parentNode;
        parent.removeChild(task);
    }

    function FindWorkItemsByGroup(work_item_group_id)
    {
        var wi = new WorkItem();

        wi.error = function(response) {
            HandleError("Could not retreive record(s)", response);
        }
        wi.success = function(response) {
            ClearTasks();
            InitTasks(response.data);
        }
        wi.work_item_group_id = work_item_group_id;
        wi.FindWorkItemsByGroup();
    }

    function InitTasks(arrTasks) {
        arrTasks.forEach( function(task){ 
            var column = stateMapping[task.state_id];
            if (column) {
                AppendTask("column-" + column, task);
            }
        });
    }


    function UpdateState(task, newState, stateName) {
        //Start doing the DB Update to the new state
        var wi = new WorkItem();
        wi.id = task.id;
        wi.state_id = newState;
        wi.description = task.description;        
        task.state_id = newState;


        wi.error = function(response) {
            HandleError("Could not update record: " + wi.id, response);
        }
        wi.success = function(response) {
            //If this was sucessful then 
            //Delete the old one.
            var div = document.getElementById("task-" + task.id);
            ClearTask(div);
            //Create the new Item
            AppendTask("column-" + stateName, task );
        }
        wi.UpdateWorkItem();
    }

    //]]>
  </script>
</body>
 